<script>
    const labels = [<%- result.map(r => JSON.stringify(r.country)) %>];
    const data = {
        labels: labels,
        datasets: [
            {
                axis: 'y',
                label: "Yes",
                data: [<%- result.map(r => JSON.stringify(Math.round((r.y_count / (parseFloat(r.y_count) + r.n_count)) * 100), 0)) %>],
                fill: false,
                backgroundColor: ["rgba(0, 123, 255, 0.8)"]
            },
            {
                axis: 'y',
                label: "No",
                data: [<%- result.map(r => JSON.stringify(Math.round((r.n_count / (parseFloat(r.y_count) + r.n_count)) * 100), 0)) %>],
                fill: false,
                backgroundColor: ["rgba(220, 53, 69, 0.8)"]
            },
        ]
    };

    const config = {
        type: 'bar',
        data: data,
        plugins: [ChartDataLabels],
        options: {
            barPercentage: 0.7,
            categoryPercentage: 0.7,
            indexAxis: 'y',
            plugins: {
                title: { display: true },
                legend: { display: false },
                tooltip: {
                    callbacks: {
                        label: function (tooltipItems, chart) {
                            return data.datasets[tooltipItems.datasetIndex].label
                        }
                    }
                },
                datalabels: {
                    display: function (context) {
                        return context.dataset.data[context.dataIndex] !== 0; // or >= 1 or ...
                    },
                    formatter: function (value, context) {
                        return value + '%';
                    },
                    labels: {
                        value: {
                            color: 'white',
                            font: { family: "Carter One" }
                        }
                    }
                }
            },
            responsive: true,
            scales: {
                x: { stacked: true, grid: { display: false, drawBorder: false }, ticks: { display: false } },
                y: { stacked: true, grid: { display: false, drawBorder: false }, ticks: { font: { size: 20, family: "Carter One" } } },
            }
        }
    };
</script>

<div class="card border-0">
    <div class="card-body">
        <p class="card-title text-center display-4">
            <%= question %>
        </p>
        <hr class="my-4">
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<script>
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>