<script>
    const labels = [<%- result.map(r => JSON.stringify(r.country)) %>];
    const data = {
        labels: labels,
        datasets: [
            {
                axis: 'y',
                label: 'yes',
                data: [<%- result.map(r => JSON.stringify(r.y_count / (parseFloat(r.y_count) + r.n_count))) %>],
                fill: false,
                backgroundColor: ["rgba(190, 255, 162)"]
            },
            {
                axis: 'y',
                label: 'no',
                data: [<%- result.map(r => JSON.stringify(r.n_count / (parseFloat(r.y_count) + r.n_count))) %>],
                fill: false,
                backgroundColor: ["rgba(250, 131, 131)"]
            },
        ]
    };
    const config = {
        type: 'bar',
        data: data,
        options: {
            indexAxis: 'y',
            plugins: {
                title: { display: true },
            },
            responsive: true,
            scales: {
                x: { stacked: true },
                y: { stacked: true }
            }
        }
    };
</script>

<div class="card border-0">
    <div class="card-body">
        <p class="card-title text-center display-4">
            <%= question %>
        </p>
        <hr class="my-4">
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<script>
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>