<div class="card">
    <div class="card-body shadow-lg">
        <p class="card-title text-center display-4">
            <%= question %>
        </p>
        <hr class="my-4">
       <%= result %>
    </div>
</div>