html body {
    background: linear-gradient(to bottom, #ffffff, #eeffe7) !important;
    /*background-image: url("/assets/background.jpg") !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% 100% !important;*/
}

body {
    padding-top: 30px;
    height: 100%;
}

html {
    min-height: 100%;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
    font-size: 100px !important;
    height: 70%;
}

h3, a.btn {
    font-family: 'Bubblegum Sans', latin !important
}



.card-title {
    font-family: 'Carter One', latin !important
}

.jumbotron {
    background: rgba(0, 0, 0, 0) !important
 }


.card {
    background: rgba(0, 0, 0, 0) !important
}