<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs"); %>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron shadow-lg">
                    <div class="row mb-3">
                        <div class="col">
                            <h3>Unpoliticly.com</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p> Unpoliticly.com is a fun and simple project that allows people to vote anonymously on several
                                popular, and sometimes controversial topics.
                                While we recognize, that most answers lie on a spectrum, everyone will have an inclination no
                                matter how slight, and is urged to just go with it.
                                You will then be able to see the results by country and share them around once you've made your stand.
                            </p>
                            <p>
                                No personal or private data is collected or stored apart from the country which is extracted from your IP address , and of
                                course the selection.
                                There are no limits on how many times you can vote, and if you feel strongly enough
                                about a certain topic to want to overload my server, you are free to do so.
                            </p>
                            <p>
                                If there are questions that you want added in, please go to the contact page and drop me
                                an email, or a message in any of the social media platforms.

                                Future developments include giving you the power to add in your own questions, and a
                                brief comments section. There is also a piece of work to get all the results data published on the github for use.

                                Please feel free to reach out to me if there are any suggestions or issues seen within
                                this app.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <a href="/" class="btn btn-success btn-lg">Questions</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <%- include("../partials/footer.ejs") %>
</body>

</html>